trigger: none

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Usar Node.js'

  - script: npm install
    displayName: 'Instalar dependencias'

  - script: npm run build
    displayName: 'build'